{{#if tour}}
    <section class="section-header">
      <div class="header__hero">
        <div class="header__hero-overlay">&nbsp;</div>
        <img class="header__hero-img" src="/img/tours/{{tour.imageCover}}" alt="{{tour.name}}">
      </div>
      <div class="heading-box">
        <h1 class="heading-primary">
          <span>{{tour.name}} tour</span
          >
        </h1>
        <div class="heading-box__group">
          <div class="heading-box__detail">
            <svg class="heading-box__icon">
              <use xlink:href="/img/icons.svg#icon-clock"></use>
            </svg>
            <span class="heading-box__text">{{tour.duration}} days</span>
          </div>
          <div class="heading-box__detail">
            <svg class="heading-box__icon">
              <use xlink:href="/img/icons.svg#icon-map-pin"></use>
            </svg>
            <span class="heading-box__text">{{tour.startLocation.description}}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="section-description">
      <div class="overview-box">
        <div>
          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-calendar"></use>
              </svg>
              <span class="overview-box__label">Next date</span>
              <span class="overview-box__text">{{getFirstStartDate tour.startDates}}</span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-trending-up"></use>
              </svg>
              <span class="overview-box__label">Difficulty</span>
              <span class="overview-box__text">{{tour.difficulty}}</span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-user"></use>
              </svg>
              <span class="overview-box__label">Participants</span>
              <span class="overview-box__text">{{tour.maxGroupSize}} people</span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-star"></use>
              </svg>
              <span class="overview-box__label">Rating</span>
              <span class="overview-box__text">{{tour.ratingsAverage}} / 5</span>
            </div>
          </div>

          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2>

            {{#each tour.guides}}
              <div class="overview-box__detail">
                <img
                  src="/img/users/{{this.photo}}"
                  alt="{{this.name}}"
                  class="overview-box__img"
                />
                <span class="overview-box__label">{{getGuideRoleLabel this.role}}</span>
                <span class="overview-box__text">{{this.name}}</span>
              </div>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="description-box">
        <h2 class="heading-secondary ma-bt-lg">About {{tour.name}} tour</h2>
        {{#each tourDescriptions}}
          <p class="description__text">
            {{this}}
          </p>
        {{/each}}
      </div>
    </section>

    <section class="section-pictures">
      {{#each tour.images}}
        <div class="picture-box">
          <img
            class="picture-box__img picture-box__img--{{getIndexNumber @index}}"
            src="/img/tours/{{this}}"
            alt="The Park Camper Tour {{getIndexNumber @index}}"
          />
        </div>
      {{/each}}
    </section>

    <section class="section-map">
      {{!-- <a href="https://www.google.com.br/maps/@51.417611,-116.214531,15z" target="_blank"> --}}
        <div id="map" data-locations='{{getLocationsData tour.locations}}'></div>
      {{!-- </a> --}}
    </section>

    <section class="section-reviews">
      <div class="reviews">

        {{#each tour.reviews as |review|}}
          <div class="reviews__card">
            <div class="reviews__avatar">
              <img
                src="/img/users/{{review.user.photo}}"
                alt="{{review.user.name}}"
                class="reviews__avatar-img"
              />
              <h6 class="reviews__user">{{review.user.name}}</h6>
            </div>
            <p class="reviews__text">
              {{review.review}}
            </p>
            <div class="reviews__rating">
              {{{getRatingStars review.rating}}}
              {{!-- <svg class="reviews__star reviews__star--active">
                <use xlink:href="/img/icons.svg#icon-star"></use>
              </svg> --}}
            </div>
          </div>
        {{/each}}

      </div>
    </section>

    <section class="section-cta">
      <div class="cta">
        <div class="cta__img cta__img--logo">
          <img src="/img/logo-white.png" alt="Natours logo" class="" />
        </div>
        <img src="/img/tours/{{GetSecondPhotoTour tour.images}}" alt=" Tour picture" class="cta__img cta__img--1" />
        <img src="/img/tours/{{GetSecondPhotoTour tour.images}}" alt="Tour picture" class="cta__img cta__img--2" />

        <div class="cta__content">
          <h2 class="heading-secondary">What are you waiting for?</h2>
          <p class="cta__text">
            {{tour.duration}} days. 1 adventure. Infinite memories. Make it yours today!
          </p>
          <button class="btn btn--green span-all-rows">Book tour now!</button>
        </div>
      </div>
    </section>
{{else}}
  <h1 style="margin-bottom: 80vh; padding: 24px;">The Tour you're looking for doesn't exist :(</h1>
{{/if}}
